<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069168519679-50pfur68onsjplmoihsstmif4ukua63s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069168519679-50pfur68onsjplmoihsstmif4ukua63s</string>
	<key>API_KEY</key>
	<string>AIzaSyC525qVzEbU-VfIIgsh1eNRKX9J3nze0hs</string>
	<key>GCM_SENDER_ID</key>
	<string>1069168519679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeinsongdo.wewish</string>
	<key>PROJECT_ID</key>
	<string>wewish-b573a</string>
	<key>STORAGE_BUCKET</key>
	<string>wewish-b573a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069168519679:ios:095c16d8ed17591bfd5fca</string>
</dict>
</plist>